html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/cssreset.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/public/javascripts/main.js')
  body(onload="myapplication.bodyOnLoad()")
    block content
