html {
    background-color: #fff;
}
.main {
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "logo"
        "menu"
        "content";
    grid-template-rows: 4em 2em auto;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}
.logo {
    grid-area: logo;
    background-color: #777777;
    line-height: 4em;
}
.logo a {
    color: azure;
    font-size: 1.85em;
    text-decoration: none;
    margin-left: 0.25em;
}
.messages {
    grid-area: content;
    overflow: scroll;
}
